
@{
    ViewData["Title"] = "Solve";
}

<div class="row">
    <div class="col text-center">
        <h1>TacocaT</h1>
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col">
        <form asp-action="Solve">
            <div class="row">
                <div class="col text-center">
                    <input type="text" name="userWord" placeholder="Enter word"/>
                </div>
            </div><br />
            <div class="row">
                <div class="col text-center">
                    <button class="btn-dark" type="submit"> Check Word </button>
                </div>
            </div>
        </form>
    </div>
</div>

